<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit the tournament</ion-title>
    <ion-icon slot="end" (click)="GoBack()" class="return" name="arrow-round-back" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="updateTournament(form)" method="post">
    <ion-item>
      <ion-label position="floating">New Tournament's name</ion-label>
      <ion-input ngModel name="name" required></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label>Coordinates</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label NgModel name="location" position="floating">Latitude</ion-label>
      <ion-input name="latitude"></ion-input>
      <ion-note>if you wish to use your own current coordinates (your current location), just leave the latitude and
        longitude blank.</ion-note>

    </ion-item>
    <ion-item>
      <ion-label NgModel name="location" position="floating">Longitude</ion-label>
      <ion-input name="longitude"></ion-input>
    </ion-item>


    <section id="add_team">
      <ion-button shape="round" type="button" (click)="openModalTournament()">
        <ion-icon name="add"></ion-icon>Change Teams
      </ion-button>
    </section>
    <ion-list>
      <ion-item *ngFor="let team of datas">
        <ion-avatar slot="start">
          <img src="/assets/images/logo-team.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ team.name }}</h2>
          <h3>Number of players: {{ team.totalPlayers }}</h3>
          <p *ngFor="let player of team.playersInTeam">{{player.pseudo}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <section id="create_tournament">
      <ion-button expand="block" type="submit">Edit tournament</ion-button>
    </section>
  </form>
</ion-content>