<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Welcome player</ion-title>

      <!-- Logout button -->
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name='log-out'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <p>join new</p>
  <form #welcomePlayer="ngForm">
    <ion-button>tournament</ion-button> 
    <ion-button>team</ion-button>
  </form>
</ion-content>