<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My profile</ion-title>

      <!-- Logout button -->
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name='log-out'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>{{player.firstName}} {{player.lastName}}</ion-label> 
    <ion-button (click)="takePicture()" expand="block" ><ion-icon name="create"></ion-icon></ion-button>
    <ion-avatar slot="start"  class="ion-margin-start">
      <img src={{player.picture}} />
    </ion-avatar>
  </ion-item>
  <h3>My teams</h3>
  <section *ngFor="let team of teams">
    <ion-button expand="block">{{ team.name }}</ion-button>
  </section>
  <ion-item>
    <h2>Your tournaments</h2>
    <section *ngFor="let tournament of tournaments">
      <!-- <ion-button expand="block">{{ tournament._id }}</ion-button> -->
    </section>
    <ion-button>tournament</ion-button>
  </ion-item>
</ion-content>