<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My profile</ion-title>

      <!-- Logout button -->
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name='log-out'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-item id="cont_img">
    <ion-button (click)="takePicture()" expand="block" id="bouton" ><ion-icon name="create"></ion-icon></ion-button>
    <img id="avatar" src="{{player.picture}}"/>
    <ion-label id="libelle">{{player.firstName}} {{player.lastName}}</ion-label> 
  </ion-item>
  <h3>My teams</h3>
  <section *ngFor="let team of teamsOfPlayer">
    <ion-button (click)="displayTeamByID(team)"  expand="block">{{ team.name }}</ion-button>
  </section>
  <ion-item *ngIf="message"> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="ion-text-center"><ion-icon size="large" name="people"></ion-icon></p>
          <h2 class="ion-text-center" color="danger">{{message.TotalTeam}}</h2>
          <p class="ion-text-center space-text">Teams available</p>
        </ion-col>
        <ion-col>
          <p class="ion-text-center"><ion-icon size="large" name="trophy"></ion-icon></p>
          <h2 class="ion-text-center" color="danger">{{message.TotalTournament}}</h2>
          <p class="ion-text-center space-text">Tournaments available</p>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </ion-item>
</ion-content>