<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit your Team</ion-title>
    <ion-icon slot="end" (click)="GoBack()" class="return" name="arrow-round-back" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #updateTeamForm="ngForm" (submit)="updateTeam(updateTeamForm)" method="patch">
    <ion-item>
      <ion-label position="floating">Please enter a new team name</ion-label>
      <ion-input ngModel placeholder="New team name" [(ngModel)]="newName" type="text" name="name" required minlength="3" maxlength="40" #editTeamInput="ngModel" pattern="[a-zA-Z0-9 -]*"></ion-input>
      <p *ngIf="editTeamInput.invalid && editTeamInput.dirty"> The name contains invalid caracters (are allowed: a-z ,A-Z, 0-9, space, backlash) OR is not the right size (3 < 40 caracters) </p>
      <p *ngIf="editTeamInput.hasError('required') && editTeamInput.dirty"> The name is required</p>
    </ion-item>
    <section id="change_players">
      <ion-button shape="round" type="button" (click)="openModal()"><ion-icon name="refresh"></ion-icon>Change Players</ion-button>
    </section>
    <ion-item *ngIf="datas">New players : </ion-item>
    <ion-input type="image" placeholder="Image" name="image" required></ion-input>
    <ion-list>
      <ion-item *ngFor="let d of datas">
        <ion-avatar slot="start">
          <img src="/assets/images/Atlantadafran.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ d.pseudo }}</h2>
          <h3>{{ d.firstName }} {{ d.lastName }}</h3>
          <p>{{ d.birthDate | date:'d MMMM y' }}</p>
          <p> {{ d.gender }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <section id="update_team">
      <ion-button expand="block" color="secondary" type="submit">Update Team</ion-button>
    </section>
  </form>
</ion-content>