<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Teams's List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li *ngFor="let team of teams">
      <p>
        {{ team.name }}
      </p>
    </li>
  </ul>
  <p>all avaliable teams</p>
  <form #createPlayer="ngForm">
    <ion-button expand="block" >team 1</ion-button> 
    <ion-button expand="block" >team 2</ion-button>
    <ion-button expand="block" >team 3</ion-button>
    <br/>
    <ion-button expand="block" >add team</ion-button>
  </form> 
</ion-content>

