<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TournamentsList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>all avaliable tournaments</p>
  <form #createPlayer="ngForm">
    <ion-button expand="block" >tournament 1</ion-button> 
    <ion-button expand="block" >tournament 2</ion-button>
    <ion-button expand="block" >tournament 3</ion-button>
    <br/>
    <ion-button expand="block" >add tournament</ion-button>
  </form>
</ion-content>
