<ion-header>
  <ion-toolbar>
    <ion-title>Choose players</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let player of players">
    <ion-avatar slot="start">
      <img src="/assets/images/Atlantadafran.png">
    </ion-avatar>
    <ion-label>
      <h2>{{ player.pseudo }}</h2>
      <h3>{{ player.firstName }} {{ player.lastName }}</h3>
      <p>{{ player.birthDate | date:'d MMMM y' }}</p>
      <p> {{ player.gender }}</p>
    </ion-label>
    <ion-checkbox (click)="selectPlayer(player)" color="primary" slot="end"></ion-checkbox>
  </ion-item>
</ion-list>
</ion-content>

<ion-footer>
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button type="submit" color="success" (click)="addInTeam()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>

