<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create a new tournament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #tournamentForm="ngForm" (ngSubmit)="createTournament(tournamentForm)"
    method="post">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input ngModel name="name" required></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime ngModel name="date" displayFormat=" D MMM YYYY"></ion-datetime>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label NgModel name="location" position="floating">Adress</ion-label>
      <ion-input name="adress"></ion-input>
    </ion-item> -->
    <ion-item-divider>
      <ion-label>Coordinates</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label NgModel name="location" position="floating">Latitude</ion-label>
      <ion-input name="latitude"></ion-input>
      <ion-note>if you wish to use your own current coordinates (your current location), just leave the latitude and longitude blank.</ion-note>
    </ion-item>
    <ion-item>
      <ion-label NgModel name="location" position="floating">Longitude</ion-label>
      <ion-input name="longitude"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Your Team</ion-label>
      <ion-input ngModel name="team" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Create tournament</ion-button>
  </form>
</ion-content>