<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create new tournament</ion-title>
    <ion-icon slot="end" (click)="GoBack()" class="return" name="arrow-round-back" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #tournamentForm="ngForm" (ngSubmit)="createTournament(tournamentForm)" method="post">
    <ion-item>
      <ion-label position="floating">Tournament's name</ion-label>
      <ion-input [(ngModel)]="name" type="text" name="name" required #tournamentInput="ngModel" pattern="[a-zA-Z0-9 -]*" [notIn]="['penis', 'Penis', 'cock', 'Cock', 'fuck', 'Fuck']" minlength="3" maxlength="40"></ion-input>
    </ion-item>
      <p *ngIf="tournamentInput.invalid && tournamentInput.dirty"> The name contains invalid caracters (are allowed: a-z ,A-Z, 0-9, space, backlash) OR is not the right size (3 < 40 caracters) </p>
      <p *ngIf="tournamentInput.hasError('required') && tournamentInput.dirty"> The name is required</p>
      <p *ngIf="tournamentInput.hasError('notIn') && tournamentInput.dirty"> The name is forbidden</p>
    <ion-item-divider>
      <ion-label>Coordinates</ion-label>
      <ion-note>if you wish to use your current location, just leave the latitude and
        longitude blank.
      </ion-note>
    </ion-item-divider>
    <ion-item>
      <ion-label NgModel name="location" position="floating">Latitude</ion-label>
      <ion-input [(ngModel)]="latitude" name="latitude" required #tournament2Input="ngModel" pattern="[0-9.]*"></ion-input>
      <p *ngIf="tournament2Input.invalid && tournamentInput.dirty"> The name contains invalid caracters (are allowed: 0-9, point)</p>
      <p *ngIf="tournament2Input.hasError('required') && tournamentInput.dirty"> The latitude is required</p>
    </ion-item>
    <ion-item>
      <ion-label NgModel name="location" position="floating">Longitude</ion-label>
      <ion-input [(ngModel)]="longitude" name="longitude" required #tournament3Input="ngModel" pattern="[0-9.]*"></ion-input>
      <p *ngIf="tournament3Input.invalid && tournamentInput.dirty"> The longitude contains invalid caracters (are allowed: 0-9, point)</p>
      <p *ngIf="tournament3Input.hasError('required') && tournamentInput.dirty"> The longitude is required</p>
    </ion-item>


    <section id="add_team">
      <ion-button shape="round" type="button" (click)="openModalTournament()">
        <ion-icon name="add"></ion-icon>Add Team
      </ion-button>
    </section>
    <ion-list>
      <ion-item *ngFor="let team of datas">
        <ion-avatar slot="start">
          <img src="/assets/images/logo-team.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ team.name }}</h2>
          <h3>Number of players: {{ team.totalPlayers }}</h3>
          <p *ngFor="let player of team.playersInTeam">{{player.pseudo}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <section id="create_tournament">
      <ion-button expand="block" color="secondary" type="submit">Create tournament</ion-button>
    </section>
  </form>
</ion-content>