<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create a new team</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #teamForm="ngForm" (submit)="createTeam(teamForm)" methos="post">
    <ion-item>
      <ion-label position="floating">Team name</ion-label>
      <ion-input ngModel type="text" name="name" required></ion-input>
    </ion-item> 
    <ion-button type="button" (click)="openModal()" expand="full" >Add Player</ion-button> 
    <ion-input type="image" placeholder="Image" name="image" required></ion-input>
    <ion-list *ngIf=datas>
      <ion-item *ngFor="let data of datas">
        <ion-avatar slot="start">
          <img src="/assets/images/Atlantadafran.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ data.pseudo }}</h2>
          <h3>{{ selectedPlayers.firstName }} {{ player.lastName }}</h3>
          <p>{{ selectedPlayers.birthDate | date:'d MMMM y' }}</p>
          <p> {{ selectedPlayers.gender }}</p>
        </ion-label>
      </ion-item>
    </ion-list> 
    <ion-button type="submit" expand="block" >Create Team</ion-button> 
  </form>
</ion-content>

