<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CreateTeam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  * <form>
    <ion-input type="text" placeholder="Nickname" `name="nickname" required`></ion-input>
    <ion-input type="text" placeholder="Name" `name="name" required`></ion-input>
    <ion-input type="text" placeholder="Lastname" `name="lastname" required`></ion-input>
    <ion-input type="text" placeholder="Gender" `name="gender" required`></ion-input>
    <ion-input type="radio" name="gender" value="male" checked> Male<br> </ion-input>
    <ion-input type="radio" name="gender" value="female"> Female<br> </ion-input>
    <ion-input type="radio" name="gender" value="other"> Other </ion-input>
    <ion-input type="date" placeholder="Birthdate" `name="birthdate" required`></ion-input>
    <ion-input type="password" placeholder="Password" `name="password" required`></ion-input>
    <ion-input type="image" placeholder="Image" `name="image" required`></ion-input>


     <!-- Submit button -->
     <ion-button type="submit" expand="block" >Create Player</ion-button> 
  * </form>
</ion-content>

