<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Players's List</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <form #createPlayer="ngForm">
    <ion-item>
      <ion-label>sort by</ion-label>
      <ion-select placeholder="nickname">
        <ion-select-option value="nickname">nickname</ion-select-option>
        <ion-select-option value="name">name</ion-select-option>
        <ion-select-option value="team">team</ion-select-option>
        <ion-select-option value="tournament">tournament</ion-select-option>
      </ion-select>
    </ion-item> 
  </form> 

  <ion-list>
    <ion-item *ngFor="let player of players">
      <ion-avatar slot="start">
        <img src="/assets/images/Atlantadafran.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ player.pseudo }}</h2>
        <h3>{{ player.firstName }} {{ player.lastName }}</h3>
        <p>{{ player.birthDate }} {{ player.gender }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>