<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Players's List</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <form #createPlayer="ngForm">
          <ion-item>
            <ion-label>Sort by</ion-label>
            <ion-select (ionChange)="sortPlayers($event.detail.value)" placeholder="Newest">
              <ion-select-option value="createdAt">Oldest</ion-select-option>
              <ion-select-option value="pseudo">Pseudo</ion-select-option>
              <ion-select-option value="firstName">First Name</ion-select-option>
              <ion-select-option value="lastName">Last Name</ion-select-option>
              <ion-select-option value="BirthDate">Age</ion-select-option>
            </ion-select>
          </ion-item>
        </form>
      </ion-col>
      <ion-col>
        <ion-button (click)=reverseSort()>Reverse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-list>
    <ion-item *ngFor="let player of players">
      <ion-avatar slot="start">
        <img src="/assets/images/Atlantadafran.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ player.pseudo }}</h2>
        <h3>{{ player.firstName }} {{ player.lastName }}</h3>
        <p>{{ player.birthDate | date:'d MMMM y' }}</p>
        <p> {{ player.gender }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>