<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="goBackLogin()">Close</ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input ngModel name="firstName" required type="text" [(ngModel)]="firstName" required #registerInput="ngModel" pattern="[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ -]*" minlength="3" maxlength="40"></ion-input>
      <p *ngIf="registerInput.invalid && registerInput.dirty"> The name contains invalid caracters (are allowed: a-z ,A-Z, 0-9, all the french accents, space, backlash) OR is not the right size (3 < 40 caracters) </p>
      <p *ngIf="registerInput.hasError('required') && registerInput.dirty"> The firstName is required</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input ngModel name="lastName" required type="text" [(ngModel)]="lastName" required #registerInput2="ngModel" pattern="[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ -]*" minlength="3" maxlength="80"></ion-input>
      <p *ngIf="registerInput2.invalid && registerInput2.dirty"> The name contains invalid caracters (are allowed: a-z ,A-Z, 0-9, all the french accents, space, backlash) OR is not the right size (3 < 80 caracters) </p>
      <p *ngIf="registerInput2.hasError('required') && registerInput2.dirty"> The lastName is required</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pseudo</ion-label>
      <ion-input ngModel name="pseudo" required type="text" [(ngModel)]="nickname" required #registerInput3="ngModel" pattern="[a-zA-Z0-9 -]*" minlength="3" maxlength="40"></ion-input>
      <p *ngIf="registerInput3.invalid && registerInput3.dirty"> The name contains invalid caracters (are allowed: a-z ,A-Z, 0-9, space, backlash) OR is not the right size (3 < 40 caracters) </p>
      <p *ngIf="registerInput3.hasError('required') && registerInput3.dirty"> The nickname is required</p>
    </ion-item>

    <ion-item>
      <ion-label>Birthdate </ion-label>
      <ion-datetime ngModel name="birthDate" displayFormat="D MMM YYYY" min="1950" max="2005" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password" required [(ngModel)]="password" required #registerInput4="ngModel" pattern="[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ$ -_]*" minlength="3" maxlength="40"></ion-input>
      <p *ngIf="registerInput4.invalid && registerInput4.dirty"> The name contains invalid caracters (are allowed: a-z ,A-Z, 0-9, all the french accents, space, backlash) OR is not the right size (3 < 40 caracters) </p>
      <p *ngIf="registerInput4.hasError('required') && registerInput4.dirty"> The password is required</p>
    </ion-item>

    <ion-radio-group ngModel name="gender" required>
      <ion-list-header>
        <ion-label>Gender</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" color="success" value="female"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" color="tertiary" value="male" checked></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button type="submit" expand="full" color="danger">Register</ion-button>
  </form>
  <ion-row>
    <div text-center>
      Already have an account? <a routerLink='/login'>Log in here !</a>
    </div>
  </ion-row>
</ion-content>